<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>投票</title>
    <!-- cdn引入ElementUI样式 -->
    <link rel="stylesheet" href="/css/elementUI.css">
    <!--cdn引入ElementUI组件必须先引入Vue-->
    <script src="/js/vue.js"></script>
    <!-- cdn引入ElementUI组件库 -->
    <script src="/js/elementUI.js"></script>
    <script src="/js/axios.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/vue-resource/1.5.2/vue-resource.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.js"></script>
</head>

<style>
    * {
        padding: 0;
        margin: 0;
    }

    .el-header {
        background-color: #FFFFFF;
        color: #333;
        text-align: right;
        /*float: right;*/
        line-height: 60px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .04);

    }

    .el-footer {
        background-color: #FFFFFF;
        color: #333;
        text-align: center;
        line-height: 60px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .04);
    }

    .el-aside {
        background-color: #D3DCE6;
        color: #333;
        text-align: center;
        line-height: 200px;
    }

    .el-main {
        /*background-color: #EBEEF5;*/
        color: #333;
        text-align: center;
        line-height: 160px;
        height: 770px;
    }

    body > .el-container {
        margin-bottom: 40px;
    }

    .el-container:nth-child(5) .el-aside,
    .el-container:nth-child(6) .el-aside {
        line-height: 260px;
    }

    .el-container:nth-child(7) .el-aside {
        line-height: 320px;
    }

    .el-dropdown-link {
        font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
        cursor: pointer;
        color: #409EFF;
        font-size: 25px;
    }

    .el-icon-arrow-down {
        font-size: 12px;
    }

    .headerFont {
        font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
        font-size: 25px;
    }

    .headerIcon {
        float: left;
    }

    .main-card {
        width: 999px;
        height: 720px;
        /*text-align: center;*/
        position: relative;
        left: 9%;
        /*right: 30%;*/
    }

    .el-table__header tr,
    .el-table__header th {
        padding: 0;
        height: 50px;
        line-height: 30px;
    }

    .el-table__body tr,
    .el-table__body td {
        padding: 0;
        height: 50px;
        line-height: 30px;
    }

    /*分页容器置底居中*/
    .votePaging {
        position: absolute;
        margin: auto;
        left: 0;
        right: 0;
        bottom: 0;
    }

    .el-picker-panel__footer .el-button--text.el-picker-panel__link-btn {
        display: none;
    }
</style>
<body>
<div id="app">
    <el-container>
        <el-header>
            <span class="headerFont headerIcon" @click="returnIndex()">投票系统</span> &nbsp;&nbsp;
            <span class="headerFont" @click="createVoteFormVisible = true">创建投票</span> &nbsp;&nbsp;
            <span class="headerFont" @click="goManagement()">我创建的投票</span> &nbsp;&nbsp;
            <span class="headerFont">欢迎</span> &nbsp;&nbsp;
            <el-dropdown @command="handleCommand">
            <span class="el-dropdown-link">
                    {{Name}}
                <i class="el-icon-arrow-down el-icon--right"></i>
            </span>
                <el-dropdown-menu slot="dropdown">
                    <el-dropdown-item command="z" v-model="userType" v-if="userType == 0">
                        <el-button type="text" @click="goAdmin()">管理员界面</el-button>
                    </el-dropdown-item>
                    <el-dropdown-item command="a">
                        <el-button type="text" @click="dialogFormVisibleName = true">修改名称</el-button>
                    </el-dropdown-item>
                    <el-dropdown-item command="b">
                        <el-button type="text" @click="dialogFormVisible = true">修改密码</el-button>
                    </el-dropdown-item>
                    <el-dropdown-item command="c" divided>退出登录</el-dropdown-item>
                </el-dropdown-menu>
            </el-dropdown>
        </el-header>
        <el-main>
            <el-col :span="7" class="main-card">
                <el-card shadow="hover" class="main-card">

                    <el-table
                            :data="votes"
                            border
                    >
                        <el-table-column
                                fixed
                                prop="name"
                                label="名称"
                                width="150"
                        >
                        </el-table-column>
                        <el-table-column
                                prop="createDate"
                                label="开始时间"
                                width="170">
                        </el-table-column>
                        <el-table-column
                                prop="endDate"
                                label="结束时间"
                                width="170">
                        </el-table-column>
                        <el-table-column
                                prop="describe"
                                label="描述"
                                width="120">
                        </el-table-column>
                        <el-table-column
                                prop="maxChoice"
                                label="最多投几票"
                                width="120">
                        </el-table-column>
                        <el-table-column
                                label="审核"
                                width="120">
                            <template slot-scope="scope">
                                <span v-if="scope.row.state=='1'">通过</span>
                                <span v-else style="color: #F56C6C">未通过</span>
                            </template>
                        </el-table-column>
                        <el-table-column
                                fixed="right"
                                label="操作"
                                width="100">
                            <template slot-scope="scope">
                                <el-button @click="handleClick(scope.row)" type="text" size="small">查看</el-button>

                            </template>
                        </el-table-column>
                    </el-table>

                    <div class="block votePaging" style="margin-bottom: -110px">
                        <el-pagination
                                layout="prev, pager, next"
                                :page-count="totalPage"
                                background
                                @current-change="handleCurrentChange"
                        >
                        </el-pagination>
                    </div>
                </el-card>
            </el-col>
        </el-main>
        <el-footer>BY @YQ</el-footer>
    </el-container>

    <el-dialog title="参加的选手" :visible.sync="dialogFormVisiblePlayers">
        <el-switch
                style="display: block;margin-bottom: 10px"
                v-model="realName"
                active-color="#13ce66"
                inactive-color="#ff4949"
                active-text="实名投票"
                inactive-text="匿名投票">
        </el-switch>
        <el-popconfirm
                title="确定投票吗？"
                @confirm="vote()"
        >
            <el-button type="primary" slot="reference" round>确定投票</el-button>

        </el-popconfirm>


        <el-button type="success" @click="describeDialogFormVisible = true" round>成为选手</el-button>

        <el-table
                :data="players"
                style="width: 100%"
                @selection-change="handleSelectionChange"
                tooltip-effect="dark">
            <el-table-column
                    type="selection"
                    width="55">
            </el-table-column>
            <el-table-column
                    label="参赛时间"
                    prop="createTime"
                    width="170">
            </el-table-column>
            <el-table-column
                    label="名称"
                    prop="name"
                    width="80">
            </el-table-column>
            <el-table-column
                    label="得票"
                    prop="gainVotes"
                    width="50">
            </el-table-column>
            <el-table-column
                    label="审核"
                    width="70">
                <template slot-scope="scope">
                    <span v-if="scope.row.state=='1'">通过</span>
                    <span v-else style="color: #F56C6C">未通过</span>
                </template>
            </el-table-column>
            <el-table-column
                    label="描述"
                    prop="describe"
                    width="120">
            </el-table-column>
            <el-table-column
                    label="得票百分比"
                    width="150">
                <template slot-scope="scope">
                    <el-progress :percentage="scope.row.gainVotesPercentage" :color="customColors"></el-progress>

                </template>

            </el-table-column>
            <!--<el-table-column-->
            <!--align="right">-->
            <!--<template slot="header" slot-scope="scope">-->
            <!---->
            <!--</template>-->
            <!--<template slot-scope="scope">-->
            <!--<el-button-->
            <!--size="mini"-->
            <!--@click="handleEdit(scope.$index, scope.row)">Edit</el-button>-->
            <!--<el-button-->
            <!--size="mini"-->
            <!--type="danger"-->
            <!--@click="handleDelete(scope.$index, scope.row)">Delete</el-button>-->
            <!--</template>-->
            <!--</el-table-column>-->
        </el-table>
        <div class="block" style="text-align: center">
            <el-pagination
                    layout="prev, pager, next"
                    :page-count="playerTotalPage"
                    background
                    @current-change="playersHandleCurrentChange"
            >
            </el-pagination>
        </div>


    </el-dialog>

    <el-dialog title="修改名称" :visible.sync="dialogFormVisibleName" width="400px">
        <el-form :model="ruleForm1" status-icon :rules="rules" ref="ruleForm1" label-width="100px"
                 class="demo-ruleForm">
            <el-form-item prop="name" label="名称">
                <el-input v-model="ruleForm1.name" autocomplete="off"></el-input>
            </el-form-item>
            <el-form-item>
                <el-popconfirm
                        title="确定修改吗？"
                        @confirm="modifyName('ruleForm1')"
                >
                    <el-button type="primary" slot="reference" style="margin-left: 190px;">提交</el-button>

                </el-popconfirm>

            </el-form-item>
        </el-form>
    </el-dialog>

    <el-dialog title="修改密码" :visible.sync="dialogFormVisible" width="400px">
        <el-form :model="ruleForm" status-icon :rules="rules" ref="ruleForm" label-width="100px" class="demo-ruleForm">
            <el-form-item label="密码" prop="pass">
                <el-input type="password" v-model="ruleForm.pass" autocomplete="off"></el-input>
            </el-form-item>
            <el-form-item label="确认密码" prop="checkPass">
                <el-input type="password" v-model="ruleForm.checkPass" autocomplete="off"></el-input>
            </el-form-item>
            <el-form-item>
                <el-popconfirm
                        title="确定修改吗？"
                        @confirm="submitForm('ruleForm')"
                >
                    <el-button type="primary" slot="reference">提交</el-button>

                </el-popconfirm>
                <el-button @click="resetForm('ruleForm')">重置</el-button>
            </el-form-item>
        </el-form>
    </el-dialog>

    <el-dialog title="添加描述" :width="dialogWidth" :visible.sync="describeDialogFormVisible">
        <el-form :model="describeForm">
            <el-form-item label="描述" :label-width="formLabelWidth">
                <el-input v-model="describeForm.describe" autocomplete="off"></el-input>
            </el-form-item>

        </el-form>
        <div slot="footer" class="dialog-footer">
            <el-button @click="describeDialogFormVisible = false">取 消</el-button>
            <el-popconfirm
                    title="确定加入吗？"
                    @confirm="joinVote()"
            >
                <el-button type="primary" slot="reference">确 定</el-button>

            </el-popconfirm>
        </div>
    </el-dialog>

    <el-dialog title="创建投票" :visible.sync="createVoteFormVisible" width="30%">
        <el-form ref="createVoteForm" :rules="rules" :model="createVoteForm" label-width="80px">
            <el-form-item label="名称" prop="name">
                <el-input v-model="createVoteForm.name"></el-input>
            </el-form-item>
            <el-form-item label="描述" prop="describe">
                <el-input type="textarea" :rows="2" v-model="createVoteForm.describe"></el-input>

            </el-form-item>

            <el-form-item label="开始时间" prop="createDate">
                <el-date-picker
                        style="width:330px"
                        v-model="createVoteForm.createDate"
                        type="datetime"
                        placeholder="选择开始时间"
                        value-format="yyyy-MM-dd HH:mm:ss"
                        format="yyyy-MM-dd HH:mm:ss"
                        :picker-options="createTime">
                </el-date-picker>
            </el-form-item>
            <el-form-item label="结束时间" prop="endDate">
                <el-date-picker
                        class="date_pick"
                        style="width:330px"
                        v-model="createVoteForm.endDate"
                        type="datetime"
                        placeholder="选择结束时间"
                        value-format="yyyy-MM-dd HH:mm:ss"
                        format="yyyy-MM-dd HH:mm:ss"
                        :picker-options="endTime">
                </el-date-picker>
            </el-form-item>
            <el-form-item label="可投人数">
                <el-input-number v-model="createVoteForm.maxChoice" :min="1" :max="10"></el-input-number>
            </el-form-item>

        </el-form>
        <span slot="footer" class="dialog-footer">
        <el-button @click="createVoteFormVisible = false">取 消</el-button>
            <el-popconfirm
                    title="确定创建吗？"
                    @confirm="createVote('createVoteForm')"
            >
                <el-button type="primary" slot="reference">确 定</el-button>
            </el-popconfirm>
      </span>
    </el-dialog>
</div>


<script type="text/javascript">
    const vm = new Vue({ // 配置对象 options
        // 配置选项(option)
        el: '#app',  // element: 指定用vue来管理页面中的哪个标签区域
        data() {
            var validatePass = (rule, value, callback) => {
                if (value === '') {
                    callback(new Error('请输入密码'));
                } else {
                    if (this.ruleForm.checkPass !== '') {
                        this.$refs.ruleForm.validateField('checkPass');
                    }
                    callback();
                }
            };
            var validatePass2 = (rule, value, callback) => {
                if (value === '') {
                    callback(new Error('请再次输入密码'));
                } else if (value !== this.ruleForm.pass) {
                    callback(new Error('两次输入密码不一致!'));
                } else {
                    callback();
                }
            };
            return {
                createTime: {
                    disabledDate(time) {
                        return time.getTime() < Date.now() - 8.64e7;
                    }
                },
                endTime: {
                    disabledDate(time) {
                        return time.getTime() < Date.now();
                    }
                },
                customColors: [
                    {color: '#f56c6c', percentage: 20},
                    {color: '#e6a23c', percentage: 40},
                    {color: '#5cb87a', percentage: 60},
                    {color: '#1989fa', percentage: 80},
                    {color: '#6f7ad3', percentage: 100}
                ],
                describeForm: {
                    describe: ""
                },
                realName: true,
                num: 1,
                dialogWidth: '400px',
                formLabelWidth: '100px',
                describeDialogFormVisible: false,
                createVoteFormVisible: false,
                multipleSelection: [],
                voteId: "",
                dialogFormVisiblePlayers: false,
                pageSize: 10,
                page: 1,
                totalPage: 0,
                playerPageSize: 5,
                playerPage: 1,
                playerTotalPage: 0,
                totals: 0,
                dialogFormVisibleName: false,
                dialogFormVisible: false,
                username: "",
                Name: "",
                userType: "",
                users: [],
                votes: [],
                createVoteForm: {
                    name: "",
                    createDate: "",
                    describe: "",
                    endDate: "",
                    maxChoice: 1
                },
                players: [],
                row: [],
                labelPosition: 'left',
                ruleForm: {
                    pass: '',
                    checkPass: '',
                    age: ''
                },
                ruleForm1: {
                    name: "",
                },
                rules: {
                    name: [
                        {required: true, message: '名称不可为空', trigger: 'blur'}
                    ],
                    pass: [
                        {validator: validatePass, trigger: 'blur'}
                    ],
                    checkPass: [
                        {validator: validatePass2, trigger: 'blur'}
                    ],
                    describe: [
                        {required: true, message: '描述不可为空', trigger: 'blur'}
                    ],
                    createDate: [
                        {required: true, message: '开始时间不可为空', trigger: 'blur'}
                    ],
                    endDate: [
                        {required: true, message: '结束时间不可为空', trigger: 'blur'}
                    ],
                },
            };
        },
        mounted() {
            this.load();
        },
        methods: {
            load() {
                this.$http.get('/user/user').then((r) => {
                    this.username = r.data.data.username;
                    this.Name = r.data.data.name;
                    this.ruleForm1.name = r.data.data.name;
                    this.userType = r.data.data.userType;
                    // console.log(r.data)
                });
                let pageVo = {"limit": this.pageSize, "page": this.page,"state":2};

                // console.log(pageVo);
                this.$http.post('/vote/votePaging', pageVo).then((r) => {
                    // console.log(r.data);
                    this.votes = r.data.data.votes;
                    for (let i = 0; i < this.votes.length; i++) {
                        var maxChoice = this.votes[i].maxChoice;
                        // this.votes[i].maxChoice = maxChoice + "人";
                        console.log(this.votes[i].maxChoice);

                    }

                    console.log(this.votes);
                    this.page = r.data.data.page;
                    this.totalPage = r.data.data.totalPage;
                    // console.log(r.data)
                });
            },
            handleCurrentChange(val) {
                // console.log(val);
                this.page = val;
                this.load();
            },
            playersHandleCurrentChange(val) {
                this.playerPage = val;
                //this.load();
                console.log(val);
                let pageVo = {"limit": this.playerPageSize, "page": this.playerPage, "vote": {"id": this.voteId}};
                this.$http.post('/player/playerPaging', pageVo).then((r) => {
                    this.players = r.data.data.players;

                    console.log(this.players);
                    this.playerPage = val;
                    this.playerTotalPage = r.data.data.totalPage;
                    console.log(r.data.data.totalPage);

                });
            },

            handleCommand(command) {
                if (command == "c") {
                    //清空sessionStorage
                    this.$http.get('/login/logOut').then((r) => {
                        window.sessionStorage.clear();
                        location.href = "/rest/";
                    });
                } else if (command == "a") {
                    this.outerVisible = true;
                } else if (command == "b") {
                    this.modifyOuterVisible = true;
                }

                //this.$message('click on item ' + command);
            },
            returnIndex() {
                location.href = "/rest/index";
            },
            modifyName(formName) {
                this.$refs[formName].validate((valid) => {
                    if (valid) {
                        // alert('submit!');
                        this.$http.put('/user/modifyName', this.ruleForm1.name).then((r) => {
                            this.$message({
                                showClose: true,
                                message: "修改成功!",
                                type: 'success'
                            });
                            this.timer = setTimeout(() => {   //设置延迟执行
                                location.reload();
                            }, 1000);

                        });
                    } else {
                        console.log('修改失败');
                        return false;
                    }
                });

            },
            submitForm(formName) {
                this.$refs[formName].validate((valid) => {
                    if (valid) {
                        this.$http.put('/user/modifyPassword', this.ruleForm.pass).then((r) => {
                            this.$message({
                                showClose: true,
                                message: "修改成功，请重新登录!",
                                type: 'success'
                            });
                            this.timer = setTimeout(() => {
                                //设置延迟执行
                                this.$http.get('/login/logOut').then((r) => {
                                    window.sessionStorage.clear();
                                    location.href = "/rest/";
                                });
                            }, 1000);

                        });

                    } else {
                        console.log('修改失败!!');
                        return false;
                    }
                });
            },
            resetForm(formName) {
                this.$refs[formName].resetFields();
            },
            handleClick(row) {
                if (row.endState == 1) {
                    this.$notify.error({
                        title: '错误',
                        message: '该投票已结束！'
                    });
                } else if (row.endState == 2) {
                    this.$notify.error({
                        title: '错误',
                        message: '该投票未开始！'
                    });
                } else if (row.endState == 0) {
                    if (row.state == 0) {
                        this.dialogFormVisiblePlayers = false;
                        this.$notify.error({
                            title: '错误',
                            message: '该投票还未审核！'
                        });
                    } else {
                        let pageVo = {"limit": this.playerPageSize, "page": this.playerPage, "vote": {"id": row.id}};
                        this.$http.post('/player/playerPaging', pageVo).then((r) => {
                            this.players = r.data.data.players;
                            this.voteId = row.id;
                            this.row = row;
                            console.log(this.players);
                            this.playerPage = r.data.data.page;
                            this.playerTotalPage = r.data.data.totalPage;
                            console.log(r.data.data);
                        });
                        // console.log(pageVo);
                        this.dialogFormVisiblePlayers = true;
                    }
                }
                // console.log(row);
            },
            handleSelectionChange(val) {
                this.multipleSelection = val;
                // console.log(this.multipleSelection);
                // this.row.maxChoice = this.row.maxChoice.replace('人','');

                // console.log(this.row.maxChoice.replace('人',''));
            },
            vote() {
                console.log(this.realName);
                let vote = this.row;
                let players = this.multipleSelection;
                let flag = true;
                for (let i = 0; i < players.length; i++) {
                    if (players[i].state == 0) {
                        flag = false;
                    }
                }
                if (players == "") {
                    const h = this.$createElement;
                    this.$notify({
                        title: '提示',
                        message: h('i', {style: 'color: teal'}, '请选择至少一位参赛选手！')
                    });
                } else {
                    if (flag) {
                        let voteVo = {"players": players, "vote": vote, "realName": this.realName};
                        this.$http.post('/vote/vote', voteVo).then((r) => {
                            const h = this.$createElement;
                            this.$notify({
                                title: '提示',
                                message: h('i', {style: 'color: teal'}, r.data.message)
                            });
                            this.timer = setTimeout(() => {   //设置延迟执行
                                location.reload();
                            }, 1000);
                        });
                    } else {
                        const h = this.$createElement;
                        this.$notify({
                            title: '提示',
                            message: h('i', {style: 'color: teal'}, '您选择了一位审核未通过的选手！')
                        });
                    }

                    // console.log(vote);
                    // console.log(players);
                }
            },
            joinVote() {

                let vote = this.row;
                let voteVo = {"vote": vote, "describe": this.describeForm.describe};
                this.$http.post('/vote/joinVote', voteVo).then((r) => {
                    const h = this.$createElement;
                    this.$notify({
                        title: '提示',
                        message: h('i', {style: 'color: teal'}, r.data.message)
                    });
                    this.timer = setTimeout(() => {   //设置延迟执行
                        location.reload();
                    }, 1000);
                });
                console.log(this.describeForm.describe);
                console.log(vote);
            },
            createVote(formName) {
                this.$refs[formName].validate((valid) => {
                    if (valid) {
                        // alert('submit!');
                        let vote = {
                            "name": this.createVoteForm.name,
                            "createDate": this.createVoteForm.createDate,
                            "endDate": this.createVoteForm.endDate,
                            "describe": this.createVoteForm.describe,
                            "maxChoice": this.createVoteForm.maxChoice
                        };
                        console.log(vote);
                        this.$http.post('/vote/createVote', vote).then((r) => {
                            this.$message({
                                showClose: true,
                                message: r.data.message,
                                type: 'success'
                            });
                            this.timer = setTimeout(() => {   //设置延迟执行
                                location.reload();
                            }, 1000);
                        }).catch((r) => {
                            this.$message({
                                showClose: true,
                                message: r.data.message,
                                type: 'error'
                            });
                            this.timer = setTimeout(() => {   //设置延迟执行
                                location.reload();
                                this.resetForm(formName);
                            }, 2000);

                        });
                    } else {
                        console.log('创建失败');
                        return false;
                    }

                });
            },
            goManagement() {
                location.href = "/rest/votingManagement";
            },
            goAdmin(){
                // location.href = "/rest/admin";
                this.$http.post('/user/goAdmin', this.userType).then((r) => {
                    location.href = "/rest/admin";
                }).catch((r) => {
                    this.$message({
                        showClose: true,
                        message: '您不是管理员',
                        type: 'error'
                    });
                    this.timer = setTimeout(() => {   //设置延迟执行
                        location.reload();
                    }, 1000);

                });
            }
        }
    })
</script>
</body>
</html>