<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <!-- cdn引入ElementUI样式 -->
    <link rel="stylesheet" href="/css/elementUI.css">
    <!--cdn引入ElementUI组件必须先引入Vue-->
    <script src="/js/vue.js"></script>
    <!-- cdn引入ElementUI组件库 -->
    <script src="/js/elementUI.js"></script>
    <script src="/js/axios.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/vue-resource/1.5.2/vue-resource.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.js"></script>
</head>

<style lang="scss" scoped>
    .login-box {
        border: 1px solid #DCDFE6;
        width: 350px;
        margin: 180px auto;
        padding: 35px 35px 15px 35px;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        box-shadow: 0 0 25px #909399;
    }

    .login-title {
        text-align: center;
        margin: 0 auto 40px auto;
        color: #303133;
    }
    .el-dialog-div {
        height: 70vh;
        overflow: auto;
    }
    .buttonCenter{
        display: block; width: 33%; height: auto; margin: 0 auto;
        margin-top: -20px;
        margin-bottom: 10px;
    }
</style>
<body>
<div id="app">

    <el-form ref="loginForm" :model="form" :rules="rules" label-width="80px" class="login-box">
        <h3 class="login-title">欢迎登录</h3>
        <el-button  size="small" class="buttonCenter"  @click="votesDialogVisible = true" round>投票预览</el-button>
        <el-form-item label="账号" prop="username">
            <el-input type="text" placeholder="请输入账号" v-model="form.username"/>
        </el-form-item>
        <el-form-item label="密码" prop="password">
            <el-input type="password" placeholder="请输入密码" v-model="form.password"/>
        </el-form-item>
        <el-form-item>
            <el-button type="primary" v-on:click="onSubmit('loginForm')">登录</el-button>
            <el-button @click="resetForm('loginForm')">重置</el-button>
            <el-button @click="registerForm('loginForm')">注册</el-button>

        </el-form-item>
    </el-form>

    <el-dialog
            title="温馨提示"
            :visible.sync="dialogVisible"
            width="30%"
    >
        <span>请输入账号和密码</span>
        <span slot="footer" class="dialog-footer">
        <el-button type="primary" @click="dialogVisible = false">确 定</el-button>
      </span>
    </el-dialog>


    <el-dialog
            title="投票预览"
            :visible.sync="votesDialogVisible"
            width="60.1%"

            :before-close="handleClose" class="el-dialog-div">
        <el-table
                :data="votes"
                border

        >
            <el-table-column
                    fixed
                    prop="name"
                    label="名称"
                    width="150"
            >
            </el-table-column>
            <el-table-column
                    prop="createDate"
                    label="开始时间"
                    width="170">
            </el-table-column>
            <el-table-column
                    prop="endDate"
                    label="结束时间"
                    width="170">
            </el-table-column>
            <el-table-column
                    prop="describe"
                    label="描述"
                    width="120">
            </el-table-column>
            <el-table-column
                    prop="maxChoice"
                    label="最多投几票"
                    width="120">
            </el-table-column>
            <el-table-column
                    label="审核"
                    width="120">
                <template slot-scope="scope">
                    <span v-if="scope.row.state=='1'">通过</span>
                    <span v-else style="color: #F56C6C">未通过</span>
                </template>
            </el-table-column>
            <!--<el-table-column-->
                <!--fixed="right"-->
                <!--label="操作"-->
                <!--width="100">-->
            <!--<template slot-scope="scope">-->
                <!--<el-button @click="handleClick(scope.row)" type="text" size="small">查看</el-button>-->

            <!--</template>-->
        </el-table-column>
        </el-table>

        <div class="block votePaging" style="margin-bottom: 5px">
            <el-pagination
                    layout="prev, pager, next"
                    :page-count="totalPage"
                    background
                    @current-change="handleCurrentChange"
            >
            </el-pagination>
        </div>

  </span>
    </el-dialog>
</div>


<script type="text/javascript">
    const vm = new Vue({ // 配置对象 options
        // 配置选项(option)
        el: '#app',  // element: 指定用vue来管理页面中的哪个标签区域
        data() {
            return {
                form: {
                    username: '',
                    password: ''
                },
                // 表单验证，需要在 el-form-item 元素中增加 prop 属性
                rules: {
                    username: [
                        {required: true, message: '账号不可为空', trigger: 'blur'}
                    ],
                    password: [
                        {required: true, message: '密码不可为空', trigger: 'blur'}
                    ]
                },
                pageSize: 10,
                page: 1,
                totalPage: 0,
                votes: [],
                // 对话框显示和隐藏
                dialogVisible: false,
                votesDialogVisible: false
            }
        },
        mounted() {
            this.load();
        },
        methods: {
            load() {

                let pageVo = {"limit": this.pageSize, "page": this.page,"state":2};

                // console.log(pageVo);
                this.$http.post('/vote/votePaging', pageVo).then((r) => {
                    // console.log(r.data);
                    this.votes = r.data.data.votes;
                    for (let i = 0; i < this.votes.length; i++) {
                        var maxChoice = this.votes[i].maxChoice;
                        // this.votes[i].maxChoice = maxChoice + "人";
                        console.log(this.votes[i].maxChoice);

                    }

                    console.log(this.votes);
                    this.page = r.data.data.page;
                    this.totalPage = r.data.data.totalPage;
                    // console.log(r.data)
                });
            },
            handleCurrentChange(val) {
                // console.log(val);
                this.page = val;
                this.load();
            },
            onSubmit(formName) {
                // 为表单绑定验证功能
                //console.log(loginForm.username);
                //console.log(data.username);
                let user = {"username": this.form.username, "password": this.form.password};
                this.$refs[formName].validate((valid) => {
                    if (valid) {
                        this.$http.post('/login/loginIn', user)
                            .then((r) => {
                                if (r.data.isok == true) {
                                    this.$message({
                                        showClose: true,
                                        message: '登录成功！',
                                        type: 'success'
                                    });
                                    this.timer = setTimeout(() => {   //设置延迟执行
                                        location.href = "/rest/index";
                                    }, 1500);
                                } else {
                                    this.$message({
                                        showClose: true,
                                        message: r.data.message,
                                        type: 'error'
                                    });
                                    this.timer = setTimeout(() => {   //设置延迟执行
                                        //location.href = "/rest/";
                                        this.resetForm(formName);
                                    }, 2000);
                                }
                            }).catch((r) => {
                            this.$message({
                                showClose: true,
                                message: r.data.message,
                                type: 'error'
                            });
                            this.timer = setTimeout(() => {   //设置延迟执行
                                location.href = "/rest/";
                                this.resetForm(formName);
                            }, 2000);

                        })

                    } else {
                        this.dialogVisible = true;
                        return false;
                    }
                });


            },
            resetForm(formName) {
                this.$refs[formName].resetFields();
            },
            registerForm(formName) {
                location.href = "/rest/register";
            }
        }
    })
</script>


</body>

</html>