<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>测试页面</title>
    <!-- cdn引入ElementUI样式 -->
    <link rel="stylesheet" href="/css/elementUI.css">
    <!--cdn引入ElementUI组件必须先引入Vue-->
    <script src="/js/vue.js"></script>
    <!-- cdn引入ElementUI组件库 -->
    <script src="/js/elementUI.js"></script>
    <script src="/js/axios.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/vue-resource/1.5.2/vue-resource.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.js"></script>
</head>

<style lang="scss" scoped>


</style>
<body>
<div id="app">
    欢迎

</div>


<script type="text/javascript">
    const vm = new Vue({ // 配置对象 options
        // 配置选项(option)
        el: '#app',  // element: 指定用vue来管理页面中的哪个标签区域


    })
</script>


</body>

</html>